<h2 class="bree">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, class:"juratab" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, class:"juratab" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class:"juratab" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

<<<<<<< HEAD
  <div class="field container">
    <%#= f.label :user_type, class: "profile-btn btn yellow darken-1 z-depth-1" %><br />
    <%#= f.select :user_type, ["Admin", "Customer"] %>
  </div>
=======
  <div class="field">
      <%= f.label :premium do %>
        <%= f.check_box :premium %>
        <span>Premium</span>
      <% end %>
    </div>
>>>>>>> 44bf3aa7ee0b0942e154e92c687e1ac659644442

  <div class="actions">
    <%= f.submit "Sign up", class: "profile-btn btn yellow darken-1 z-depth-1" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>