<% if current_user && current_user.admin%>
<%= form_for @company do |f| %>
    <div>
        <%= f.label :name%>    
        <%= f.text_field :name, required: true %>
    <br>

    
        <%= f.label :description %>   
        <%= f.text_field :description, required: true %>
    <br>

    
        <%= f.label "Image" %>
        <%= f.file_field :image %>
    <br>

   
        <% if @company.id %>
            <%= f.submit "Edit Company" %>
        <% else %>
            <%= f.submit "New Company" %>
        <% end %>
    </div>
<%end %>
<% end%>