<% if current_user && current_user.admin%>
<%= form_for @company do |form| %>
<%#= form.hidden_field :category_id, :value => category_id.id %>
 <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
<%= form.label :description %>
<%= form.text_area :description%>
</div>

      <%= form.label :address, "location." %>
      <%= form.text_field :address %>
      <br>

      <%= form.label :latitude, "latitude." %>
      <%= form.number_field :latitude, step: 0.0000000001 %>
      <br>
      <%= form.label :longitude, "longitude." %>
      <%= form.number_field :longitude, step: 0.000000000001 %>
      <br>
<br> 
<div>
  <%= form.label "Image" %>
  <%= form.file_field :image %>
</div>
<%= form.label  "Choose a Category" %>
</br>
<%= form.collection_select :category_id, Category.all.collect, :id, :name, prompt: true %>
        <% if @company.id %>
            <%= form.submit "Edit Company" %>
        <% else %>
            <%= form.submit "Add Company" %>
        <% end %>
<% end%>

<% end %>

<script>
  window.onload = ()=>{
      $('select').formSelect();
  };
</script>