<h1>Company Show Page</h1>


<h2><%= @company.name %></h2>

<p><%= @company.description %></p></br>

<% if current_user && current_user.admin_id%>
<p><%= link_to("Edit Company", edit_compnay_path(@art)) %></p>
<p><%= link_to "Delete Company", company_path(@company), method: :delete %></p>
<% end%>

<h4>All Companies</h4>
<% @compnaies.offers.each do |co| %>
<p><%= link_to co.name, company_path(co) %></p>

<% end %>