
<h2 class="headermonts"><%= @company.name %></h2>
<p class="bodymonts"><%= @company.description %></p></br>

<% @company.offers.each do |offer| %>
<div class="row">
<div class="col s4">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <%= cl_image_tag offer.image %>
    </div>
    <div class="card-content">
      <p class="paraCard"> Offer starts: <%= offer.start_Date %></p>
      <p class="paraCard"> Offer Expires: <%= offer.expired_Date %></p>
    </div>
    <div class="card-reveal upCard">
      <span class="card-title grey-text text-darken-4"><%= offer.company.name %><i class="medium material-icons right">close</i></span>
      <%= offer.offer_Description %>
    </div>
  </div>
  </div>
  </div>
  <% end%>


<% if user_signed_in?  && current_user.admin%>
<p><%= link_to("Edit Company", edit_company_path(@company)) %></p>
<p><%= link_to "Delete Company", company_path(@company), method: :delete %></p>
<%= link_to 'Add New Offer', "../offers/"+@company.id.to_s+"/new"%>
<% end%>
<h4></h4>
<%# @compnay.offers.each do |co| %>
<p><%# link_to co.name, company_path(co) %></p>
<%# @a = @company.id %>

<%# end %>