<h2 class="bree">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, class:"juratab" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, class:"juratab" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">


    <%= f.label :remember_me do %>
        <%= f.check_box :remember_me %>
        <span>Remember Me</span>
      <% end %>

    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class: "profile-btn btn yellow darken-1 z-depth-1" %>
  </div>

<% end %>

<div class="renderbtn">
<%= render "devise/shared/links" %>
</div>