<%= form_for @offer do |form| %>
<%# if user_signed_in? && current_user.admin_id%>
<div>
<%#= form.label :company_id, "What is the Company?" %>
 <%#= form.collection_select :company_id, Company.all, :id, :name %>  
<br>
<%= form.label :offer_Description, "Describe the Offer" %>
<%= form.text_area :offer_Description%>
<br>
<%= form.label :start_Date, "Enter the Start date." %>
<%= form.date_field :start_Date %>
<br>
<%= form.label :expired_Date, "Enter the expired date." %>
<%= form.date_field :expired_Date %>
<br>
<%= form.label :image, "Instert the image of the offer." %>
<%= form.text_field :image %>
<br>
<%= form.label :coLocation, "location." %>
<%= form.text_field :coLocation %>
<br>
<%= form.label  :coupon, "coupon?" %>
<%= form.check_box :coupon %>
<br>
</div>


<%= form.submit "Add offer"  %>
<%# end%>
<% end %>
