<%= form_for @offer do |f| %>

<div>

<%= f.label :company_id, "What is the Company?" %>
 <%= f.collection_select :company_id, Company.all, :id, :name %>  
<br>
<%= f.label :offer_Description, "Describe the Offer" %>
<%= f.text_area :offer_Description%>
<br>
<%= f.label :start_Date, "Enter the Start date." %>
<%= f.date_field :start_Date %>
<br>
<%= f.label :expired_Date, "Enter the expired date." %>
<%= f.date_field :expired_Date %>
<br>
<%= f.label :image, "Instert the image of the offer." %>
<%= f.text_field :image %>
<br>
<%= f.label :coLocation, "location." %>
<%= f.text_field :coLocation %>
<br>
<%= f.label label :coupon, "coupon?" %>
<%= f.check_boxes :coupon %>
<br>
</div>


<%= f.submit "Add offer"  %>

<% end %>