<div class="row">
<% @offers.each do |offer| %>
    <div class="col s6">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <%= cl_image_tag offer.image, class:"imgSize" %>
            </div>
            <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4 "><i class="small material-icons right arrow" data-id="<%=offer.id %>">arrow_drop_up</i></span>
                    <p class="paraCard"> Offer starts: <%= offer.start_Date %></p>
                    <p class="paraCard"> Offer Expires: <%= offer.expired_Date %></p>
                </div>
                <div class="card-action">
                 <%#= link_to "Read more", offer_path(offer) %>
                 <p id="offer-<%= offer.id%>"> Views: <%= offer.views.length %></p>
                 
                </div>
            <div class="card-reveal upCard">
            <span class="card-title activator grey-text text-darken-4 "><%= link_to offer.company.name, company_path(offer.company),class:"companyCard" %><i class="small material-icons right">close</i></span>
                    <p class="concertFont"><%= offer.offer_Description %></p> 
            </div>

            </div>
          </div>
<% end %>
</div>

<% if user_signed_in? %>
    <script>
        $(".arrow").on("click", function blah(e)  {
             // console.log("clicked", e.target);
            //const offerID = e.target.getAttribute("data-id");
            const offer_id = e.target.getAttribute("data-id");
            const params = {offer_id: offer_id}

                // console.log(params)
           // const length = offer.views.length;
            //console.log(length)
             fetch('/views', { 
                method: 'POST',
                headers: {
                    "Content-Type": "application/json",
                    Accept: "application/json"
                },
                body: JSON.stringify(params) 
            })
            .then(resp => resp.json())
            .then(data => { 
               console.log(data);
                const ul = document.querySelector(`#offer-${offer_id}`);
                const html = "Views: " + data;
                ul.innerHTML = html;
            })
           
        });
        // When someone clicks the arrow, get the offer_id (maybe using the data-id attribute - getAttribute("data-id");)
        // Then, make an AJAX request (POST to "/views" - offer_id, user_id)
        // When the data comes back, change the text after views to the new count of views
    </script>
<% end %>