<!DOCTYPE html>
<html>
  <head>
    <title>Wafferha</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <%= link_to("Offers", offers_path) %> 
  <%= link_to( "Copuns", offers_path)%>
  <%= link_to("All companies", companies_path) %>
  <%#= link_to( "log out", )%>
  </nav>
    <% if user_signed_in? %>
<p>Stuff for logged in users</p>
<% else %>
<p>Stuff for logged out users</p>
<% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

  </body>
</html>
